<h1><%="Edit Dr. #{@doctor.first_name} #{@doctor.last_name}'s Information"%></h1>

<%= form_for @doctor do |f|%>
<%=f.label :First_Name%>
<%=f.text_field :first_name%>

<%=f.label :Last_Name%>
<%=f.text_field :last_name%>

<%=f.submit 'Submit'%>

<% end %>
